{% extends "base.html" %}

{% block htmlattrs %}manifest="{% url 'index_manifest' %}"{% endblock %}

{% block headers %}
<script src="{{ STATIC_URL }}js/common.js"></script>
<script src="{{ STATIC_URL }}js/progress.js"></script>
<script src="{{ STATIC_URL }}js/appcache.js"></script>
<script src="{{ STATIC_URL }}js/sync.js"></script>
<script>
    $(function() {
        try {
            $("#online_label, #offline_label").popover({
                html: true,
                content: "Możesz oznaczać zdania nawet bez połączenia z " +
                    "internetem. Po prostu otwórz w przeglądarce stronę <a " +
                    "href='{{ request.build_absolute_uri }}'>" +
                    "{{ request.build_absolute_uri }}</a>",
                title: "Oznaczanie off-line",
                trigger: "hover",
                placement: "bottom",
                delay: { show: 200, hide: 1000 },
            });
            if (navigator.onLine) {
                $("#online_label").show();
                var jprogress = $('#progress_container');
                var appcache_controller = new AppCacheController(
                    new Progress(jprogress, 0, 80));
                var sync = new SyncController(new Progress(jprogress, 80, 100));
                appcache_controller.onerror = function(e) {
                    if (e == "notsupported" || e == "notcached") {
                        $("#online_label").hide();
                    }
                    sync.start();
                }
                appcache_controller.oncomplete = function(e) {
                    if (localStorage['online_label_shown'] != 'yes') {
                        $("#online_label").popover('show');
                        localStorage['online_label_shown'] = 'yes';
                    }
                    sync.start();
                }
                sync.oncomplete = sync.onerror = function() {
                    $("#real_content").show();
                }
                appcache_controller.init();
            } else {
                $("#offline_label").show();
                $("#real_content").show();
                $("#actions").hide();
            }
            window.addEventListener('offline', function() { window.location.reload(); });
            window.addEventListener('online', function() { window.location.reload(); });
        } catch (e) {
            $("#real_content").show();
        }

        var ready = localStorageGetList('ready_assignments');
        for (var i = 0; i < ready.length; i++) {
            $('#status_' + ready[i]).addClass('ready');
        }

    });
    localStorage['assignments'] = JSON.stringify({ {% for a in assignments %}{{ a.id }}:1,{% endfor %} });
</script>
{% endblock %}

{% block navbar_extras %}
<div class="navbar-labels navbar-right">
    <span class="label label-success" id="online_label">ONLINE</span>
    <span class="label label-warning" id="offline_label">OFFLINE</span>
</div>
{% endblock %}

{% block content %}
<div id="progress_container" style="visibility: hidden">
    <div class="progress">
        <div class="progress-bar" style="width: 0;"></div>
    </div>
</div>
<div id="real_content">
<h2>Twoje zdania do oznaczenia</h2>

{% if assignments %}
<table class="table assignments">
    <thead>
        <tr>
            <th width="80">ID</th>
            <th>Zdanie</th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
        {% for a in assignments %}
        <tr id="row_{{ a.id }}">
            <td>{{ a.id }}</td>
            <td><a href="{% url 'assignment' id=a.id %}">{{ a.sentence }}</a></td>
            <td id="status_{{ a.id }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Nie masz żadnych zdań.</p>
{% endif %}

<p id="actions"><a href="{% url 'more' %}" class="btn btn-default">Poproś o więcej zdań</a>
{% if assignments %}
<a href="{% url 'return' %}" class="btn btn-default">Oddaj wszystkie do puli</a>
{% endif %}
</p>
</div>

{% endblock %}
